body {
  font-size: 20px;
  font-family: "Livvic", sans-serif;
}
#site-header {
  display: flex;
}

h1,h2 {
  font-family: "Bodoni Moda", serif;
  letter-spacing: 0.03em;
}

.img-main{
  width: 250px;
}
